
/* ----------SERVICES---------- */
#services {
    padding: 30px 0;
  }
  
  .services-list {
    display: flex; 
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  
  .services-list > div {
    flex: 1 1 30%;
    background: #fff;
    padding: 40px;
    font-size: 15px;
    line-height: 30 px;
    margin-bottom: 20px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
  }
  
  .services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  .services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
  }
  
  .services-list div:hover {
    background: #213F99;
    transform: translateY(-10px);
  }
 
  .containeur {
    padding: 10px 10%;
  }
  